.flex{
    display: flex;
}
.align-item{
    align-items: center;
}
.justify-c{
    justify-content: center;
}
.border{
    border: 2px solid black;
}
.bg-b{
    background-color: rgb(0, 0, 0);
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-in{
    background-color: #1f1f1f;
    border-radius: 5px;
    margin:6px 9px 2px 11px;
    color: white;
}
.fb{
    justify-content: space-between;
}